snippet desc "Mocha describe"
describe("${1:Describe}", () => {
	$0
});
endsnippet

snippet it "Mocha it"
it("${1:It}", () => {
	$0
});
endsnippet

snippet bee "Mocha beforeEach"
beforeEach(() => {
	$0
});
endsnippet

snippet afe "Mocha afterEach"
afterEach(() => {
	$0
});
endsnippet

snippet before "Mocha before"
before(() => {
	$0
});
endsnippet

snippet after "Mocha after"
after(() => {
	$0
});
endsnippet
